@media screen and (min-width: 1200px) {

}
@media screen and (max-width: 1199px) {
  html {
    //display: none;
    font-size: 12px;

    .layout-wrapper {
      height: 98vh;
    }

    .paper__wrapper {
      height: 99%;
    }
  }

}
@media screen and (max-width: 1199px) and (min-width: 992px) {
  //html {
  //  font-size: 12px;
  //}
}
@media screen and (max-width: 991px) {
  //html {
  //  //display: none;
  //  font-size: 12px;
  //}
}
@media screen and (max-width: 991px) and (min-width: 768px) {
  //html {
  //  //display: none;
  //  font-size: 12px;
  //}
}
@media screen and (max-width: 991px) and (min-width: 576px) {
  //html {
  //  //display: none;
  //  font-size: 12px;
  //}
}
@media screen and (max-width: 767px) {
  //html {
  //  //display: none;
  //  font-size: 12px;
  //}
}
@media screen and (max-width: 767px) and (min-width: 576px) {
  //html {
  //  font-size: 12px;
  //}
}
@media screen and (max-width: 575px) {
  //html {
  //  //display: none;
  //  font-size: 12px;
  //}
}
@media screen and (max-width: 374px) {
  //html {
  //  font-size: 12px;
  //}
}
