@use 'sass:math';
@import '@/assets/styles/functions.scss';
@import '@/assets/styles/_media.scss';
@import '@/assets/fonts/roboto/roboto.scss';

::placeholder {
  color: #19212f;
  opacity: .5;
  font-size: rem(12);
  font-family: Roboto-Regular, sans-serif;
}

.form-item-wrapper {
  margin-bottom: rem(20);
}
button {
  border-style: none;
  padding: 0;
  overflow: visible;
  cursor: pointer;
  text-decoration: none;
  appearance: none;
  display: inline-block;
  margin: 0;
  outline: none;
  background: transparent;
}

li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

ul {
  margin: 0;
  padding: 0;
}
